.card .card-body {
  display: flex;
  justify-content: space-around;
}

.card .card-body .card-body__right {
  text-align: right;
}

/**
 * mobile
 */
@media screen and (max-width: 800px) {
  .card .card-body {
    flex-direction: column;
  }

  .card .card-body .card-body__right {
    text-align: left;
  }
}
